<div class="col-md-12">
    <form #form="ngForm" class="form-inline" autocomplete="off" (submit)="onSubmit(form)">
        <div class="form-group mb-2 col-md-12">
            <label for="">Old Password</label>
        </div>
        <div class="form-group mb-2 col-md-12">
            <input type="password" name="oldpassword" #oldpassword="ngModel" [(ngModel)]="formModel.old_password"
                class="form-control-sm" placeholder="Enter Old Password" required maxlength="100" required
                style="width: 98%">
        </div>
        <div class="form-group mb-2 col-md-12">
            <label for="">New Password</label>
        </div>
        <div class="form-group mb-2 col-md-12">
            <input type="password" name="item_details" #item_details="ngModel" [(ngModel)]="formModel.new_password"
                class="form-control-sm" placeholder="Enter New Password" required maxlength="150" required
                style="width: 98%">
        </div>
        <div class="form-group mb-2 col-md-12">
            <label for="">Confirm Password</label>
        </div>
        <div class="form-group mb-2 col-md-12">
            <input type="password" name="item_details" #item_details="ngModel" [(ngModel)]="formModel.confirm_password"
                class="form-control-sm" placeholder="Enter Confirm Password" required maxlength="150" required
                style="width: 98%">
        </div>
        <div class="form-group mb-2 col-md-12">
            <label for="">&nbsp;</label>
        </div>
        <div class="form-group mb-2 col-md-12">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary" style="margin-left: 1%;">Save</button>
        </div>
    </form>
</div>