<!-- Sidebar -->
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" [ngClass]="status ? 'toggled' : ''"
  id="accordionSidebar">

  <!-- Sidebar - Brand -->
  <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html"
    style="background-color: white;height: 70px;">
    <!-- <div class="sidebar-brand-icon rotate-n-15">
        <i class="fas fa-laugh-wink"></i>
      </div> -->
    <!-- <div class="sidebar-brand-text mx-3">SB Admin <sup>2</sup></div>-->
    <div class="sidebar-brand-text mx-3">
      <!-- Logistic App -->
      <img src="assets/images/WSH_Experts_Pte_Ltd copy.png" style="width: 100px;height: 60px;">
    </div>
  </a>

  <!-- Divider -->
  <hr class="sidebar-divider my-0">

  <!-- Nav Item - Dashboard -->
  <li class="nav-item active">
    <a class="nav-link" routerLinkActive="active" routerLink="Dashboard">
      <i class="fas fa-fw fa-tachometer-alt"></i>
      <span>Dashboard</span></a>
  </li>

  <!-- <li class="nav-item active">
    <a class="nav-link" routerLinkActive="active" routerLink="/ListClientJobs">
      <span>Jobs</span></a>
  </li> -->

  <!-- Divider -->
  <hr class="sidebar-divider">

  <!-- Heading -->
  <div class="sidebar-heading">
    <!-- FollowUp -->
  </div>

  <!-- Nav Item - Pages Collapse Menu -->
  <li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true"
      aria-controls="collapseTwo">
      <i class="fas fa-briefcase"></i>
      <span>Jobs</span>
    </a>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
      <div class="bg-white py-2 collapse-inner rounded">
        <a class="collapse-item" routerLinkActive="active" routerLink="/ListClientJobs">Manage Jobs</a>
      </div>
    </div>
  </li>

  <li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseCompany" aria-expanded="true"
      aria-controls="collapseCompany">
      <i class="far fa-address-book"></i>
      <span>Sub Company</span>
    </a>
    <div id="collapseCompany" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
      <div class="bg-white py-2 collapse-inner rounded">
        <a class="collapse-item" routerLinkActive="active" routerLink="ManageSubCompany">Manage Sub Company</a>
      </div>
    </div>
  </li>

  <li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseContact" aria-expanded="true"
      aria-controls="collapseContact">
      <i class="fas fa-fw fa-users"></i>
      <span>Contact</span>
    </a>
    <div id="collapseContact" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
      <div class="bg-white py-2 collapse-inner rounded">
        <a class="collapse-item" routerLinkActive="active" routerLink="/ManageClientContact">Manage Contacts</a>
      </div>
    </div>
  </li>

  <li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseAddress" aria-expanded="true"
      aria-controls="collapseAddress">
      <i class="fas fa-briefcase"></i>
      <span>Address</span>
    </a>
    <div id="collapseAddress" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
      <div class="bg-white py-2 collapse-inner rounded">
        <a class="collapse-item" routerLinkActive="active" routerLink="/ManageClientAddress">Pickup Address</a>
        <a class="collapse-item" routerLinkActive="active" routerLink="/ManageClientDeliveryAddress">Delivery
          Address</a>
      </div>
    </div>
  </li>

  <!-- Nav Item - Events Collapse Menu -->
  <li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilities" aria-expanded="true"
      aria-controls="collapseUtilities">
      <i class="fas fa-fw fa-book"></i>
      <span>Reports</span>
    </a>
    <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
      <div class="bg-white py-2 collapse-inner rounded">
        <a class="collapse-item" routerLinkActive="active" routerLink="JobReport">Job Report</a>
      </div>
    </div>
  </li>

  <hr class="sidebar-divider d-none d-md-block">

  <!-- Divider -->
  <!-- <hr class="sidebar-divider d-none d-md-block"> -->

  <!-- Sidebar Toggler (Sidebar) -->
  <div class="text-center d-none d-md-inline">
    <button class="rounded-circle border-0" id="sidebarToggle" (click)='clickToggleSidebar()'></button>
  </div>

</ul>
<!-- End of Sidebar -->