<div class="card shadow mb-4" style="margin: 1rem!important;">
    <div class="card-header py-2">
        <div class="row">
            <div class="col-md-9">
                <h5 class="font-weight-bold text-primary">List of Jobs</h5>
            </div>
            <div class="col-md-3 flex-row">
                <button type="button" class="btn btn-primary btn-sm" (click)="isCollapsed = !isCollapsed"
                    [attr.aria-expanded]="!isCollapsed" aria-controls="collapseBasic"
                    style="float: right;margin-left: 1%;">
                    <i class="fas fa-filter"></i>
                    Filter
                </button>
            </div>
        </div>
    </div>

    <!-- Content Row -->
    <!-- <div class="row">

        <div class="col-xl-4 col-md-6 mb-4">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Total Client
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{manageJobService.totalClient}}</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-address-book fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-4 col-md-6 mb-4">
            <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Total Staff
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{manageJobService.totalStaff}}</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-users fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-4 col-md-6 mb-4">
            <div class="card border-left-info shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Total Vehicle</div>
                            <div class="row no-gutters align-items-center">
                                <div class="col-auto">
                                    <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">
                                        {{manageJobService.totalVehicle}}</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-truck fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
    <!-- <div class="card-header py-3">
                    <span class="font-weight-bold text-primary">List of </span>
                </div> -->
    <div class="card-body">
        <div id="collapseBasic" [collapse]="isCollapsed" [isAnimated]="true" style="margin-bottom: 1%;">
            <div class="well well-lg card card-block card-header flex-row">
                <div class="form-group col-md-2">
                    <label for="">Delivery Date</label>
                    <div class="input-group input-group-sm" style="width: 98%">
                        <input class="form-control-sm" placeholder="yyyy-mm-dd" name="FilterDeliveryDate"
                            #FilterDeliveryDate="ngModel" [(ngModel)]="_FilterDeliveryDate" ngbDatepicker
                            #d="ngbDatepicker" required style="width: 80%;
                            border-top-right-radius: 0;border-bottom-right-radius: 0;">
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary" (click)="d.toggle()" type="button"
                                style="height: 28px;">
                                <i class="fas fa-calendar"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="form-group col-md-3">
                    <label for="">Delivery Type</label>
                    <select class="form-control-sm" id="FilterStatus" name="FilterStatus" #FilterStatus="ngModel"
                        [(ngModel)]="_FilterStatus" [value]='_FilterStatus' style="width: 98%">
                        <option [ngValue]="-1" value="-1" selected>None</option>
                        <option [ngValue]="1" value="1">Assigned</option>
                        <option [ngValue]="2" value="2">Picked up</option>
                        <option [ngValue]="3" value="3">Partially Delivered</option>
                        <option [ngValue]="4" value="4">Delivered</option>
                        <option [ngValue]="5" value="5">Cancelled</option>
                    </select>
                </div>
                <div class="form-group col-md-2">
                    <label for="">&nbsp;</label>
                    <div class="input-group input-group-sm" style="width: 98%">
                        <button type="button" class="btn btn-primary btn-sm" (click)="FilterJobs()"
                            style="float: left;">
                            submit
                        </button>
                        <button type="button" class="btn btn-primary btn-sm" (click)="ClearFilter()"
                            style="float: left;margin-left: 4%;">
                            Clear
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th style="width: 2%;">No</th>
                        <th style="width: 8%;">Job Order No.</th>
                        <th style="width: 6%;">Client Name</th>
                        <th style="width: 15%;">Pickup Address</th>
                        <th style="width: 15%;">Delivery Address</th>
                        <th style="width: 6%;">Assign Date</th>
                        <th style="width: 6%;">Delivery Date</th>
                        <th style="width: 6%;">Pickup Contact</th>
                        <th style="width: 6%;">Delivery Contact</th>
                        <th style="width: 6%;">Status</th>
                        <th style="width: 6%;">Is Multipoint</th>
                        <th style="width: 18%;"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let client of manageJobService.listClientJob 
                                let indexofelement=index">
                        <td>{{indexofelement+1}}</td>
                        <td>
                            <button type="button" class="btn btn-wsh btn-link" data-toggle="modal" title="Print"
                                data-target="#StaffPrintModal" (click)="pickup_Delivery_Job($event, client, true)"
                                style="font-size: 13px;">
                                {{client.item_id}}
                            </button>
                        </td>
                        <td>{{client.name}}</td>
                        <td>{{client.line1}}, {{client.city}}, {{client.state}}, {{client.country}},
                            {{client.postal_code}}</td>
                        <td>{{client.deliveryLocation[0].line1}}, {{client.deliveryLocation[0].city}},
                            {{client.deliveryLocation[0].state}}, {{client.deliveryLocation[0].country}},
                            {{client.deliveryLocation[0].postal_code}}
                        </td>
                        <td>{{client.assign_date}}</td>
                        <td>{{client.delivery_date}}</td>
                        <td>{{client.contactPersonName}} </td>
                        <td>{{client.deliveryLocation[0].name}}, {{client.deliveryLocation[0].phone}}</td>
                        <td>
                            <!-- {{client.job_status}} -->
                            <span *ngIf="client.job_status == 0;">
                                Waiting to assign
                            </span>
                            <span *ngIf="client.job_status == 1;">
                                Assigned
                            </span>
                            <span *ngIf="client.job_status == 2;">
                                Picked up
                            </span>
                            <span *ngIf="client.job_status == 3;">
                                Partially delivered
                            </span>
                            <span *ngIf="client.job_status == 4;">
                                Delivered
                            </span>
                            <span *ngIf="client.job_status == 5;">
                                Cancelled
                            </span>
                        </td>
                        <td>
                            <span *ngIf="client.is_multi_location_delivery == 1">Yes</span>
                            <span *ngIf="client.is_multi_location_delivery == 0">No</span>
                        </td>
                        <td style="text-align: center;">
                            <!-- (click)="ChangeStatus($event, client,1)" -->
                            <!-- *ngIf="client.delivery_status == 0;" -->
                            <div *ngIf="client.job_status == 1 && client.is_accept == 0">
                                <button type="button" class="btn btn-primary btn-sm"
                                    style="width: 65px; margin-left: 1%;" (click)="AcceptJob($event, client, 1)">
                                    Accept
                                </button>
                                <button type="button" class="btn btn-primary btn-sm"
                                    style="width: 67px;margin-left: 1%;" (click)="AcceptJob($event, client, 2)">
                                    Decline
                                </button>
                            </div>
                            <button *ngIf="client.job_status == 1 && client.is_accept == 1" type="button"
                                class="btn btn-primary btn-sm" style="width: 65px;" data-toggle="modal"
                                data-target="#signatureModal" (click)="pickup_Delivery_Job($event, client, true)">
                                Pickup
                            </button>
                            <button *ngIf="client.job_status == 3 || client.job_status == 2;" type="button"
                                class="btn btn-primary btn-sm" (click)="pickup_Delivery_Job($event, client, false)"
                                data-toggle="modal" data-target="#signatureModal" style="width: 65px;">
                                Deliver
                            </button>
                            <button *ngIf="client.job_status == 1 && client.is_accept == 1" type="button"
                                style="margin-left: 1%;width: 65px;" class="btn btn-primary btn-sm"
                                (click)="AcceptJob($event, client, 2)">
                                Cancel
                            </button>
                            <button type="button" *ngIf="client.job_status == 4;" class="btn btn-primary btn-sm"
                                data-toggle="modal" title="Print" data-target="#StaffPrintModal"
                                (click)="pickup_Delivery_Job($event, client, true)"
                                style="margin-left: 1%;width: 60px;">
                                Print
                            </button>
                            <!--  -->
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade bd-example-modal-lg" id="signatureModal" tabindex="-1" role="dialog"
    aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content" *ngIf="_objclientJobMaster != null">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">{{_objclientJobMaster.modalPopupTitle}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-5 mb-2">
                        <span><u>Job Details:</u></span><br />
                        <span>Client :{{_objclientJobMaster.name}} </span><br />
                        <span>Job Order No. :{{_objclientJobMaster.item_id}} </span><br />
                        <span>Assign date :{{_objclientJobMaster.assign_date}} </span><br />
                        <span>Delivery date :{{_objclientJobMaster.delivery_date}} </span><br />
                    </div>
                    <div class="col-md-7 mb-2">
                        <span><u>Pickup Address:</u></span><br />
                        <span>{{_objclientJobMaster.line1}} , {{_objclientJobMaster.city}} ,
                            {{_objclientJobMaster.state}}, {{_objclientJobMaster.postal_code}}</span>
                    </div>
                    <div class="col-md-12">
                        <label for=""><u>Delivery Address:</u></label>
                    </div>
                    <div class="col-md-12">
                        <table class="table table-bordered table-sm" id="tblJobMaster" width="100%" cellspacing="0">
                            <thead>
                                <th>Blk No/No</th>
                                <th>Street/Road Name</th>
                                <th>Floor No/Unit No</th>
                                <!-- <th>Country</th> -->
                                <th>Postal Code</th>
                                <th>Staff Picked-up DateTime</th>
                                <th>Staff Delivery DateTime</th>
                                <th *ngIf="!_objclientJobMaster.isPickup"></th>
                            </thead>
                            <tbody>
                                <tr *ngFor="let deliveryLoc of _objclientJobMaster.delivery_location">
                                    <td>{{deliveryLoc.line1}}</td>
                                    <td>{{deliveryLoc.city}}</td>
                                    <td>{{deliveryLoc.state}}</td>
                                    <!-- <td>{{deliveryLoc.country}}</td> -->
                                    <td>{{deliveryLoc.postal_code}}</td>
                                    <td>{{deliveryLoc.staff_pick_up_date}}</td>
                                    <td>{{deliveryLoc.staff_delivery_date}} </td>
                                    <td *ngIf="!_objclientJobMaster.isPickup">
                                        <div class="form-check" *ngIf="deliveryLoc.delivery_status != 2">
                                            <input type="checkbox" class="form-check-input" id="exampleCheck1"
                                                name="isSelected_{{deliveryLoc.id}}" #isSelected="ngModel"
                                                [(ngModel)]="deliveryLoc.isSelected">
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-md-12">
                        <div class="mb-2">
                            <span *ngIf="_objclientJobMaster.isPickup"><u>Pickup Images:</u></span>
                            <span *ngIf="!_objclientJobMaster.isPickup"><u>Delivery Images:</u></span>
                        </div>
                        <div class="mb-2">
                            <!-- <input type='file' (change)="readURL($event);" multiple="true" /> -->
                            <input type='file' (change)="fileProgress($event.target.files);" multiple="true" />

                            <div *ngFor="let imagePath of imageSrc">
                                <img id="blah" [src]="imagePath || 'http://placehold.it/180'" alt="your image"
                                    width="180" height="180" />
                            </div>
                        </div>
                        <div class="mb-2">
                            <span *ngIf="_objclientJobMaster.isPickup"><u>Pickup Signature:</u></span>
                            <span *ngIf="!_objclientJobMaster.isPickup"><u>Delivery Signature:</u></span>
                        </div>
                        <div class="row">
                            <div class="mb-2 col-md-7">
                                <div style="border:1px solid blueviolet" [style.width]="width+'px'"
                                    [style.height]="height+'px'">
                                    <ngx-signaturepad #signaturePad [options]="options" [width]="width"
                                        [height]="height">
                                    </ngx-signaturepad>
                                </div>
                            </div>
                            <div class="col-md-5" style="text-align: left;">
                                <input type="button" value="Clear & Re-Sign" class="btn btn-primary btn-sm"
                                    (click)="clearSignature()" />
                            </div>
                        </div>

                        <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Close</button>
                        <input type="button" *ngIf="_objclientJobMaster.isPickup" value="Save & Pickup"
                            class="btn btn-primary btn-sm" style="margin-left: 8px;"
                            (click)="SaveDetails_And_Pickup_Deliver(_objclientJobMaster,2)" />
                        <input type="button" *ngIf="!_objclientJobMaster.isPickup" value="Save & Deliver"
                            class="btn btn-primary btn-sm" style="margin-left: 8px;"
                            (click)="SaveDetails_And_Pickup_Deliver(_objclientJobMaster,3)" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade bd-example-modal-lg" id="StaffPrintModal" tabindex="-1" role="dialog"
    aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content" *ngIf="_objclientJobMaster != null">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Print Job Details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="Print_Job_Details">
                <div class="row">
                    <div class="col-md-5 mb-2">
                        <span><u>Job Details:</u></span><br />
                        <span>Client :{{_objclientJobMaster.name}} </span><br />
                        <span>Job Order No. :{{_objclientJobMaster.item_id}} </span><br />
                        <span>Assign date :{{_objclientJobMaster.assign_date}} </span><br />
                        <span>Delivery date :{{_objclientJobMaster.delivery_date}} </span><br />
                    </div>
                    <div class="col-md-7 mb-2">
                        <span><u>Pickup Address:</u></span><br />
                        <span>{{_objclientJobMaster.line1}} , {{_objclientJobMaster.city}} ,
                            {{_objclientJobMaster.state}}, {{_objclientJobMaster.postal_code}}</span>
                    </div>
                    <div class="col-md-12">
                        <label for=""><u>Delivery Address:</u></label>
                    </div>
                    <div class="col-md-12">
                        <table class="table table-bordered table-sm" id="tblJobMaster" width="100%" cellspacing="0">
                            <thead>
                                <th>Blk No/No</th>
                                <th>Street/Road Name</th>
                                <th>Floor No/Unit No</th>
                                <!-- <th>Country</th> -->
                                <th>Postal Code</th>
                                <th>Staff Picked-up DateTime</th>
                                <th>Staff Delivery DateTime</th>
                                <th *ngIf="!_objclientJobMaster.isPickup"></th>
                            </thead>
                            <tbody>
                                <tr *ngFor="let deliveryLoc of _objclientJobMaster.delivery_location">
                                    <td>{{deliveryLoc.line1}}</td>
                                    <td>{{deliveryLoc.city}}</td>
                                    <td>{{deliveryLoc.state}}</td>
                                    <!-- <td>{{deliveryLoc.country}}</td> -->
                                    <td>{{deliveryLoc.postal_code}}</td>
                                    <td>{{deliveryLoc.staff_pick_up_date}}</td>
                                    <td>{{deliveryLoc.staff_delivery_date}} </td>
                                    <td *ngIf="!_objclientJobMaster.isPickup">
                                        <div class="form-check" *ngIf="deliveryLoc.delivery_status != 2">
                                            <input type="checkbox" class="form-check-input" id="exampleCheck1"
                                                name="isSelected_{{deliveryLoc.id}}" #isSelected="ngModel"
                                                [(ngModel)]="deliveryLoc.isSelected">
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="modal-footer" style="padding: 0.5rem 1rem; background-color: #f8f9fc;">
                <button printTitle="Job Detail" class="btn btn-primary btn-sm" [useExistingCss]="true"
                    printSectionId="Print_Job_Details" ngxPrint>
                    <i _ngcontent-cjx-c2="" class="fas fa-print" style="cursor: pointer;"></i>
                    Print
                </button>
            </div>
        </div>
    </div>
</div>
<!-- /.container-fluid -->
<ngx-spinner></ngx-spinner>