<div class="container" style="margin-top: 10%;">
    <div class="card shadow mb-4">
        <div class="card-body">
            <div class="table-responsive">
                <div class="col-md-12" style="text-align: center;">
                    <img src="assets/images/Logo_WSH_Experts_Pte_Ltd.png" style="width: 140px;height: 100px;">
                </div>
                <div class="col-md-12" style="text-align: center;">
                    <a type="button" class="btn btn-primary btn-lg col-md-4" style="margin: 2%;"
                        routerLinkActive="active" routerLink="/login">Admin</a>
                </div>
                <div class="col-md-12" style="text-align: center;">
                    <a type="button" class="btn btn-primary btn-lg col-md-4" style="margin: 2%;"
                        routerLinkActive="active" href="http://wshlogi.com/client" target="_blank">Client</a>
                </div>
                <div class="col-md-12" style="text-align: center;">
                    <a type="button" class="btn btn-primary btn-lg col-md-4" style="margin: 2%;"
                        routerLinkActive="active" href="http://wshlogi.com/staff" target="_blank">Staff</a>
                </div>
            </div>
        </div>
    </div>
</div>