<div class="col-md-12">
    <form #form="ngForm" class="form-inline" autocomplete="off" (submit)="onSubmit(form)">

        <div class="form-group mb-2 col-md-3">
            <label for="">Vehicle Number</label>
        </div>
        <div class="form-group mb-2 col-md-9">
            <input name="VehicleNumber" #VehicleNumber="ngModel" [(ngModel)]="vehicleService.formVehicle.number"
                class="form-control" placeholder="Vehicle Number" required maxlength="100" required style="width: 80%">
        </div>
        <div class="form-group mb-2  col-md-3">
            <label for="">Vehicle Type</label>
        </div>
        <div class="form-group mb-2 col-md-9">
            <select class="form-control" id="vehicle_type" name="type" #type="ngModel"
                [(ngModel)]="vehicleService.formVehicle.type" [value]='vehicleService.formVehicle.type'
                style="width: 80%">
                <option value="">Choose Vehicle</option>
                <!-- [ngValue]="Vehicle.id" -->
                <option *ngFor="let Vehicle of vehicleService.listVehicleType" value="{{Vehicle.id}}"
                    [selected]='Vehicle.id === vehicleService.formVehicle.type'>
                    {{Vehicle.type}}
                </option>
            </select>
        </div>

        <div class="form-group mb-2  col-md-3">
            <label for="">Start Time</label>
        </div>
        <div class="form-group mb-2 col-md-9">
            <ngb-timepicker style="width: 80% !important" name="VehicleStartTime" #VehicleStartTime="ngModel"
                [(ngModel)]="_vehicleStartTime"></ngb-timepicker>
            <!-- <div class="input-group bootstrap-timepicker timepicker">
                <input id="timepicker1" type="text" class="form-control" style="width: 80%" name="VehicleStartTime"
                    #VehicleStartTime="ngModel" [(ngModel)]="vehicleService.formVehicle.available_start_time"
                    ngbDatepicker #d="ngbDatepicker">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button"></button>
                </div>
            </div> -->
        </div>

        <div class="form-group mb-2  col-md-3">
            <label for="">End Time</label>
        </div>
        <div class="form-group mb-2 col-md-9">
            <ngb-timepicker style="width: 80% !important" name="VehicleEndTime" #VehicleEndTime="ngModel"
                [(ngModel)]="_vehicleEndTime"></ngb-timepicker>
            <!-- <div class="input-group bootstrap-timepicker timepicker"> -->
            <!-- <input id="timepicker1" type="text" class="form-control" style="width: 80%" name="VehicleEndTime"
                    #VehicleEndTime="ngModel" [(ngModel)]="vehicleService.formVehicle.available_end_time">
                <i class="fa fa-clock-o" aria-hidden="true"></i> -->
            <!-- <span class="input-group-addon"><i class="glyphicon glyphicon-time"></i></span> -->
            <!-- <datetime-popup [(value)]="vehicleService.formVehicle.available_end_time"></datetime-popup> -->
            <!-- <datetime-popup [(value)]=""></datetime-popup> -->
            <!-- </div> -->
        </div>

        <div class="form-group mb-2 col-md-3">
            &nbsp;
        </div>
        <div class="form-group mb-2 col-md-9">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary" style="margin-left: 1%;">Save changes</button>
        </div>
    </form>
</div>